.banner {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(rgba(51, 31, 59, 0.7), rgba(51, 31, 59, 0.7)), url('../img/cabecalho_local.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.header-txt-titulo {
    flex-grow: 1;
    font-size: 4em;
    font-family: serif;
    font-weight: bold;
    color: var(--color-text);
    padding: 2%;
    margin: 2% 10% 5% 10%;
    border: solid 0.1em;
    text-align: center;
    max-width: 80%;
}

body {
    background-color: var(--color-second);
}

main {
    margin: 5% 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    color: var(--color-text-second);
    text-align: center;
}

.local-titulo {
    margin: 2% 0;
    font-size: 1.3em;
}

.div-local-botao {
    margin: 20px auto;
    border: solid 1px;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    height: 60%;
    width: 50%;
}

.div-local-botao:hover {
    background-color: var(--color-hover-second);
}

.div-mapa {
    padding: 2%;
    margin: auto;
}

.local-mapa {
    width: 100%;
}

.rodape {
    background-color: var(--color-footer);
    text-align: center;
    padding: 2%;
    font-size: 1em;
}

.rodape-texto {
    color: var(--color-text-footer);
}

@media screen and (min-width: 680){
    .header-txt-titulo {
        margin: 2% 30% 5% 30%;
    }

    main {
        margin: 5% 15%;
    }
}