.banner {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(rgba(51, 31, 59, 0.7), rgba(51, 31, 59, 0.7)), url('../img/cabecalho_programacao.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
}

.header-txt-titulo {
    flex-grow: 1;
    font-size: 2.5em;
    font-family: serif;
    font-weight: bold;
    color: var(--color-text);
    padding: 2% 4%;
    margin: 2% 10% 5% 10%;
    border: solid 0.1em;
    text-align: center;
    max-width: 80%;
}

body {
    background-color: var(--color-second);
}

main {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    color: var(--color-text-second);
}

.programacao-titulo {
    font-size: 2.3em;
    font-family: serif;
    margin: 2% 0;
}

.rodape {
    background-color: var(--color-footer);
    text-align: center;
    padding: 2%;
    font-size: 1em;
}

.rodape-texto {
    color: var(--color-text-footer);
}

@media screen and (min-width: 768px){
    .header-txt-titulo {
        max-width: 70%;
        font-size: 4em;
        padding: 2% 4%;
    }
}