body {
    background-color: var(--color-first);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    font-family: serif;
    font-weight: bold;
    text-align: center;
    padding: 0.3em;
    margin: 1em 0.2em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.3em;    
}

header{
    width: 100%;
}

#banner {
    background-image: linear-gradient(rgba(51, 31, 59, 0.7), rgba(51, 31, 59, 0.7)), url('../img/cabecalho_index.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-txt-data {
    font-size: 1em;
    text-align: center;
}

#header-txt-titulo {
    font-size: 3em;
    font-family: serif;
    font-weight: bold;
    color: var(--color-text);
    text-align: center;
    padding: 2% 8%;
    border: solid 0.1em;
}

main, section{
    width: 90%;
}

main, section#programacao, section#local{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.texto{
    font-size: 1em;
    text-align: justify;    
    line-height: 1.6em;
}

.div-conteudo-texto{
    margin-bottom: 2em;
}

.div-conteudo-botao {    
    margin: 1em 0;
    max-width: 80%;
}

.botao{
    font-size: 1em;
    font-weight: 600;
    color: var(--color-text);
    text-align: center;
    padding: 8px 40px;
    display: block;
    border: solid 0.1em;
    border-radius: 3px;
}

.botao:hover {
    background-color: var(--color-hover);
}

hr {
    border: solid 1px;
    width: 80%;
    margin: 5% auto;
    border-radius: 8px;
    border-color: var(--color-hr);
}

.programacao-item{
    margin-bottom: 1em;
}

.programacao-hora{
    font-weight: 700;
}

.container-participante {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2%;
    justify-content: center;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;

}

.participante {
    width: 100%;
    border: solid 1px;
    border-radius: 10px;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}

.participante-titulo {
    font-size: 1.5em;
    font-family: serif;
    text-align: center;
    padding: 10px;
}

.div-participante-imagem {
    display: flex;
    width: 100%;
    height: 30%;
    overflow: hidden;
    align-items: center;
}

.participante-imagem {
    width: 100%;
    height: auto;
}

.participante-lista {
    margin-bottom: 5%;
}

.participante-item {
    list-style: square;
    padding: 2px;
    margin-left: 5%;
    font-size: 1.2em;
}

.div-botao {
    border: solid 1px;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
}

.participante-botao {
    font-size: 18px;
    display: block;
    color: var(--color-text);
}

.div-botao:hover {
    background-color: var(--color-hover);
}

.div-video {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    height: 300px;
    background-color: black;
}

.div-video > iframe {
    width: 100%;
    height: 100%;
}

.carrossel-jogos{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%; 
    max-height: 80vh;
    overflow: hidden;
}

.carrosel-titulo{
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.9em;
    font-family: serif;
}

.container-carrossel{
    display: flex;
    width: 300%;
    margin:auto;
    margin-left: 0;
    align-items: center;
    transition: margin-left 0.5s ease-in-out;
}

.carrossel-btn{
    position: absolute;
    background: none;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    max-width: 100%;
    padding: 0 10px;
}

.btn-anterior{
    left: 10%;
}

.btn-proximo{
    right: 10%;
}

.carrossel-btn:hover{
    opacity: 1;
}

.container-carrossel-img{
    overflow: hidden;
    width: 100%;
    max-height: 600px;
    display: flex;
}

.carrossel-img{
    width: 100%;
    height: auto;
}

.div-local-botao {
    margin: 2em auto;
    padding: 6px;
    text-align: center; 
    max-width: 100%;
}

.local-titulo{
    margin-top: 2em;
    margin-bottom: 0.6em;
}

.div-mapa {
    padding: 2%;
    margin: 2em auto;
    width: 100%;
}

.local-mapa {
    width: 100%;
}

.rodape {
    background-color: var(--color-footer);
    text-align: center;
    padding: 2%;
    margin-top: 2em;
    font-size: 1em;
    width: 100%;
}

.rodape-texto {
    color: var(--color-text-footer);
}

@media screen and (min-width: 768px){
    main{
        width: 80%;
        text-align: center;
        margin: auto;
    }

    h1{
        font-size: 3em;
    }
    
    h2{
        font-size: 2.3em;    
    }

    #header-txt-titulo {
        font-size: 3.5em;
    }
    
    .div-local-botao {
        max-width: 50%;
    }

    .carrossel-jogos{
        width: 80%;
    }
}