/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, li, a {
    list-style: none;
    text-decoration: none;
}

/* Variaveis de cor */
:root {
    --color-first: rgb(46, 19, 62);
    --color-second: rgb(228, 228, 228);
    --color-header: rgb(27, 27, 27);
    --color-card:rgba(255, 255, 255, 0.048);    
    --color-card-shadow: rgba(255, 255, 255, 0.055);
    --color-text: white;
    --color-text-second: rgb(54, 23, 73);
    --color-text-form: rgb(84, 66, 95);
    --color-shadow: rgb(159, 158, 158);
    --color-hover: rgb(86, 65, 100);
    --color-hover-second: rgb(205, 202, 206);
    --color-hr: rgba(226, 226, 226, 0.2);
    --color-footer: rgb(223, 223, 223);
    --color-text-footer: rgb(35, 15, 48);
}

/* Parte do Header - div-header*/
.div-header{
    display: flex;
    background-color: var(--color-header);
    width: 100wh;
    justify-content: space-between;
}

.header-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 1em;
}

.header-link-img{
    max-width: 50px;
    margin-right: 1em;
}

.header-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

.header-link-txt{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-text);
}

#menu-dropdown{
    display: none;
}

#menu-dropdown.expanded{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--color-header);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 9%;
    z-index: 1;
}

.header-nav-link{
    display: block;
    padding: 1em;
    border: solid 1px;
    font-weight: 600;
    color: var(--color-text);
}

.header-nav-link:hover{
    background-color: var(--color-hover);
}

.btn-menu{
    position: fixed;
    max-width: 40px;
    background-color: rgba(0, 0, 0, 0);
    right: 20px;
    top: 20px;
}

#img-btn-menu{
    max-width: 30px;
}